<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h4><i class="fa fa-exclamation-triangle"></i> Error</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Access Denied</h5>
                    <p class="card-text"><%= message %></p>
                    <a href="/" class="btn btn-primary">Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>